* {
    border: 0;
    margin: 0;
    font-family: 'Times New Roman', serif;
}

#pai  {
    border: green 2px solid;
    height: 99.6vh;
    width: auto;
    /* background-image:url(imagens/gif-\ preto.gif); */
    background-image: url(imagens/gif\ -\ sem\ m.gif);
    background-size: 100%;

    
    /* background-color: black; */
    /* background: rgb(4,3,17);
    background: linear-gradient(90deg, rgba(4,3,17,1) 0%, rgba(74,41,182,1) 50%, rgba(4,3,17,1) 100%); */
}

.navbar {
    /* border: red 2px solid; */
    display: flex;
    height: 10%;
    justify-content: flex-end;
    /* background-color:  #130348; roxinho bunito */
    align-items: center;
    margin-bottom: 2%;
    background: rgba(19,3,72,1, 0.10);
}

.navbar li {
    margin-right: 2%;
    list-style: none;
    font-size: 23px;
}

.navbar a {
    text-decoration:none;
    color: white;
}

li a:hover {
    color: gray;
    transition: 0.3s;
}

#principal {
    border: gray 2px solid;
    display: flex;
    justify-content: left;
/* margin-top: 3%;P
    margin-left: 3%; */
}

.conceito {
    border: green 2px solid;
    height: 30vh;
    width: 40vw;
    justify-content: center;
    align-items: center;
    background-color: #D4CCCB;
    padding: 20px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-left: 3%;
}

.conceito h1 {
    border: red 2px solid;
    display: flex;
    justify-content: center;
    font-size: 70px;
}

.conceito p {
    border: rgb(46, 188, 110) 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    font-size: 35px;
}

.musica {
    border: orange 2px solid;
    height: 50vh;
    width: 40vw;
    justify-content: center;
    align-items: center;
    background-color: #D4CCCB;  
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-left: 10%;

}

.musica h1{
    display: flex;
    justify-content: center;
    font-size: 70px;
}

.musica p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    font-size: 35px;
}


#estilos {
    border: purple 2px solid;
    display: flex;
    justify-content: center;
    background-image: url(imagens/gif\ -\ sem\ m.gif);
    background-size: 100%;
}

.box {
    width: 33.3%;
    margin-left: 30px;
    background-color: #D4CCCB;
    padding: 20px;
    border-radius: 30px;
}

#graficos {
    border: gold 2px solid;
    width: 50%;
    margin-left: 500px;
}
