* {
    border: 0;
    margin: 0;
    font-family: 'Times New Roman', serif;
}

#pai  {
    border: green 2px solid;
    height: 99.6vh;
    width: auto;
    /* background-image:url(imagens/gif-\ preto.gif); */
    /* background-image: url(imagens/gif\ -\ sem\ m.gif); */
    background-size: 100%;
    background-color: black;
    background-image: url(https://img.freepik.com/vetores-gratis/vetor-de-fundo-de-tecnologia-digital-com-borda-de-hexagono-em-tom-roxo-escuro_53876-126069.jpg?w=1380&t=st=1667786260~exp=1667786860~hmac=d279e9f4391f39a8dd190f09103f0aa6575650690a445a98cbc547865e964736);
}

.navbar {
    /* border: red 2px solid; */
    display: flex;
    height: 10%;
    justify-content: flex-end;
    background-color: rgba(19, 4, 32, 0.5);
    align-items: center;
    margin-bottom: 2%;
}

.navbar li {
    margin-right: 2%;
    list-style: none;
    font-size: 23px;
}

.navbar a {
    text-decoration:none;
    color: white;
}

li a:hover {
    color: gray;
    transition: 0.3s;
}

#caixa {
    /* border: white 2px solid; */
    display: flex;
    justify-content: center;
}

.login {
    border: purple;
    width: 20%;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.654);
    border-radius: 15px;
    box-shadow: rgba(2, 251, 43, 0.3) 0px 54px 55px, rgba(5, 36, 240, 0.997) 0px -12px 30px, rgba(17, 11, 199, 0.299) 0px 4px 6px, rgba(18, 185, 57, 0.615) 0px 12px 13px, rgba(9, 203, 99, 0.623) 0px -3px 5px;
}
.login h1 {
    /* border: green 2px solid; */
    display: flex;
    justify-content:center;
}

.email input{
    border: 0;
    border-bottom: rgba(0, 0, 0, 0.784) 2px solid;
    padding: 10px;
    outline: 0;
    margin-left: 10px; 
    border-radius: 10px;
    width: 240px;
}

.senha input {
    border: 0;
    border-bottom: rgba(0, 0, 0, 0.784) 2px solid;
    padding: 10px;
    outline: 0;
    margin-left: 10px; 
    border-radius: 10px;
    width: 240px;
}

button {
    border: 0;
    border-bottom: rgba(0, 0, 0, 0.784) 2px solid;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 70px;
    font-size: 20px;
}
.botao {
    display: flex;
    justify-content: center;
}

.login p {
    font-size: 25px;
    margin-left: 20px;
}

.check input{
    border: red 2px solid;


}


