
* {
  border: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
}
body {
/* background-color: rgba(0, 0, 0, 0.976); */
background-image: linear-gradient(0deg, #000000 45%, transparent 100%), url(imagens/funk\ -\ image.jpg);
/* background-image: url(imagens/funk\ -\ image.jpg); */
background-repeat: no-repeat;
background-size: 100%;
}
.navbar {
  /* border: red 2px solid; */
  display: flex;
  height: 10%;
  justify-content: flex-end;
  /* background-color: rgba(19, 4, 32, 0.5); */
  background-color: rgba(1, 1, 1, 0.8);
  align-items: center;
  margin-bottom: 2%; 
}
.logo {
/* border: red 2px solid; */
margin-right: 70%;
}

.navbar li {
  margin-right: 2%;
  list-style: none;
  font-size: 18px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

#pai {
  /* border: orange 2px solid; */
  height: 99.6vh;
  width: auto;
}

li a:hover {
  color: gray;
  transition: 0.3s;
}

#caixa {
  /* border: red 2px solid; */
  display: flex;
  justify-content: center;

}

.funk {
  /* border: green 2px solid; */
     height: 50%;
     width: 40%;
     justify-content: center;
     background-color: rgba(0, 0, 0, 0.942);
     padding: 20px;
     border-radius: 30px;
     color: white;
     box-shadow: rgba(182, 46, 240, 0.4) 5px 5px, rgba(172, 46, 240, 0.3) 10px 10px, rgba(233, 46, 240, 0.2) 15px 15px, rgba(191, 46, 240, 0.1) 20px 20px, rgba(188, 46, 240, 0.05) 25px 25px;
     margin-right: 20%;
}

.funk h1 {
 display: flex;
 justify-content: center;
 margin-bottom: 3%;
 font-size: 40px;
 margin-top: 1%;
}
.funk p {
 /* border: white 2px solid; */
 font-size: 30px;
 margin-left: 2%;
}

.instrumento {
 height: 25vh;
 width: 20vw;
 justify-content: center;
 background-color:rgba(0, 0, 0, 0.942);
 padding: 20px;
 border-radius: 30px;
 color: white;
 box-shadow: rgba(182, 46, 240, 0.4) 5px 5px, rgba(172, 46, 240, 0.3) 10px 10px, rgba(233, 46, 240, 0.2) 15px 15px, rgba(191, 46, 240, 0.1) 20px 20px, rgba(188, 46, 240, 0.05) 25px 25px;
}
.instrumento h1 {
 display: flex;
 justify-content: center;
 margin-bottom: 3%;
 font-size: 40px;
 margin-top: 10%;
}
.instrumento p {
 /* border: white 2px solid; */
 font-size: 30px;
 margin-left: 2%;
}

#livinho {
 /* border: red 2px solid; */
 height: 70vh;
 background-color: black;
 color: white;
 position: relative;
 margin-top: 10%;
}

#livinho .foto {
 /* border: white 2px solid; */
 width: 30%;
 height: 400px;
 background-image: url(https://agorarn.com.br/files/uploads/2021/09/image-p-CJ-lS.jpg);
 background-repeat: no-repeat;
 border-radius: 10%;
 margin-left: 10%;
 margin-top: 5%;
 box-shadow: rgba(247, 247, 247, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

#livinho h1 {
 /* border: red 2px solid; */
 margin-left: 20%;
 align-items: center;
}
#livinho h1 {
 /* border: red 2px solid; */
 align-items: center;
}

.titulo {
position: absolute;
top: 40px;
}
 


.texto {
 /* border: white 2px solid; */
 margin-left: 135%;
 width: 140%;
 font-size: 30px;

}


.footer {
  /* border: red 2px solid; */
  height: 15vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imgs {
  /* border: red 2px solid; */
  width: 10%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}

.nomes {
  padding-top: 30px;
  margin-top: -30px;
  border-top: white 1px solid;
  display: flex;
  color: white;
  width: 1000px;
  justify-content: center;
}

#linha {
  width: 1300px;
  border: white 1px solid;
  margin-bottom: -10px;
}
