* {
    border: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;  }
  
  body {
    background-color: black;
    color: white;
    height: 100%;
  }
  
  .navbar {
    /* border: red 2px solid; */
    display: flex;
    height: 10%;
    justify-content: flex-end;
    /* background-color: rgba(19, 4, 32, 0.5); */
    background-color: rgba(1, 1, 1, 0.8);
    align-items: center;
    margin-bottom: 2%;
  }
  
  .logo {
    /* border: red 2px solid; */
    margin-right: 85%;
  }
  
  .navbar li {
    margin-right: 2%;
    list-style: none;
    font-size: 23px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
  }
  
  li a:hover {
    color: gray;
    transition: 0.3s;
  }
  
  .container {
    /* border: red 2px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  
  .login {    
    width: 400px;
    height: 46vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.884);
    border-radius: 15px;
    box-shadow: rgba(2, 251, 43, 0.3) 0px 54px 55px,
      rgba(5, 36, 240, 0.997) 0px -12px 30px, rgba(17, 11, 199, 0.299) 0px 4px 6px,
      rgba(18, 185, 57, 0.615) 0px 12px 13px, rgba(9, 203, 99, 0.623) 0px -3px 5px;
  }
  
  .nome input {
    border: 0;
    border-bottom: rgba(0, 0, 0, 0.784) 2px solid;
    padding: 10px;
    outline: 0;
    border-radius: 10px;
    width: 240px;
    font-size: 20px;
  }
  
  .voto select {
    margin-top: 3%;
    border: 0;
    border-bottom: rgba(0, 0, 0, 0.784) 2px solid;
    padding: 10px;
    outline: 0;
    border-radius: 10px;
    width: 260px;
  }
  
  button {
    border: 0;
    border-bottom: rgba(0, 0, 0, 0.784) 2px solid;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10%;
    font-size: 20px;
  }
  
  button:hover {
    background-color: gray;
    transition: 0.3s;
  }
  
  .botao {
    display: flex;
    justify-content: center;
  }
  
  .login p {
    font-size: 25px;
    margin-top: 10px;
    color: rgb(96, 103, 109);
  }
  
  select {
    font-size: 20px;
  }
  .erro span {
    margin-top: 4%;
    font-size: 20px;
    color: red;
  }

  .voltarp span {
    margin-top: 4%;
    font-size: 20px;
    color: rgb(96, 103, 109);
  }
  .voltarp a {
    margin-top: 4%;
    font-size: 20px;
    color:black;
    text-decoration: none;
}

.footer {
  /* border: red 2px solid; */
  height: 20vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}

.imgs {
  /* border: red 2px solid; */
  width: 10%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}

.nomes {
  padding-top: 30px;
  margin-top: -30px;
  border-top: white 1px solid;
  display: flex;
  color: white;
  width: 1000px;
  justify-content: center;
}

#linha {
  width: 1300px;
  border: white 1px solid;
  margin-bottom: -10px;
}

.ranking {
  height: 40vh;
  width: 27%;
  align-self: baseline;
  border: purple;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.884);
  border-radius: 15px;
  box-shadow: rgba(2, 251, 43, 0.3) 0px 54px 55px,
  rgba(5, 36, 240, 0.997) 0px -12px 30px, rgba(17, 11, 199, 0.299) 0px 4px 6px,
  rgba(18, 185, 57, 0.615) 0px 12px 13px, rgba(9, 203, 99, 0.623) 0px -3px 5px;
}

.ranking h1 {
  margin-top: 5%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  color: #000000;
  line-height:42px;
}

.ranking h4 {
  margin-left: 3%;
  font-size: 25px;
  color: rgb(96, 103, 109);
}

.ranking h2 {
  margin-left: 3%;
  font-size: 25px;
  color: rgb(96, 103, 109);
}

#caixa {
  display: flex;
  width: 60%;
  justify-content: space-around;
  align-items: center;
}

.ranking span {
  color: black;
}
